<% content_for :menu do %>
    <p></p>
<% end %>

<video controls>
	<source src="<%= @movie_file %>" type="<% if @movie_file['.mp4'] %>video/mp4<% elsif @movie_file['.mkv'] %>video/webm<% end %>">
	<!-- <track label="French" kind="subtitles" srclang="fr" src="videos/Miss.Peregrines.Home.for.Peculiar.Children.2016.BDRip.x264-SPARKS.vtt"> -->
</video>
