<header class="page-header maskcolor">
    <div class="container">
        <div class="row">
            <h1 class="header_title blue-text">Hypertube</h1>
        </div>

        <div class="row">
            <h3 class="blue-text">Watch movies and just enjoy !</h3>
        </div>
    </div>
</header>
